.sliderScreen {
    background-color: #ffffff;
    height: 580px;
    width: 1920px;
}

.sliderScreen .overlap {
    background-color: #5a7194;
    background-position: 50% 50%;
    background-size: cover;
    height: 513px;
    position: relative;
    top: 40px;
}

.sliderScreen .group {
    height: 40px;
    left: 884px;
    position: absolute;
    top: 120px;
    width: 153px;
}

.sliderScreen .overlap-group {
    background-color: #bebebe;
    border-radius: 10px;
    height: 40px;
    position: relative;
    width: 151px;
}

.sliderScreen .element-online {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 38px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    white-space: nowrap;
}

.sliderScreen .ellipse {
    background-color: #00ff38;
    border-radius: 10px;
    height: 20px;
    left: 9px;
    position: absolute;
    top: 10px;
    width: 20px;
}

.sliderScreen .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 30px;
    font-weight: 300;
    left: 737px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 169px;
    white-space: nowrap;
}

.sliderScreen .overlap-wrapper {
    height: 48px;
    left: 893px;
    position: absolute;
    top: 232px;
    width: 115px;
}

.sliderScreen .div-wrapper {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 50px;
    height: 48px;
    position: relative;
    width: 113px;
}

.sliderScreen .div {
    color: #ffffff;
    font-family: "Noto Sans KR-Light", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 23px;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
}
