body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
}

.canvas-container {
  width: 100vw;
  height: 100vh;
}

.pen-settings {
    position: absolute;
    top: 0;
    left: -120px; /* 툴바 왼쪽으로 튀어나오게 설정 */
    width: 100px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100; /* 툴바 위로 올라오게 설정 */
}

.pen-controls {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pen-controls label {
    font-size: 12px;
    color: #333;
}

.pen-controls input[type="color"] {
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
}

.pen-controls input[type="range"] {
    width: 100%;
}

.canvas-container canvas {
  border: 1px solid #f00;
}

.tool-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;
  border-radius: 10px;
  background-color: #e7e6e7;
  border: 1px solid #e7e6e7;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  position: absolute;
  top: 45%;
  left: 18%;
}

.tool-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #e7e6e7;
  cursor: pointer;
}
.tool-bar button svg {
  fill: #000000;
}

.tool-bar button:disabled {
  background-color: #7279ff;
}
.tool-bar button:disabled svg {
  fill: #ffffff;
}

