/* StudyHeader.css */
.navbar-custom {
    height: 60px;
    padding: 0px;
}

.navbar-brand-custom {
    margin-right: auto;
    padding-left: 5px;
}

.nav-ms-auto {
    padding-right: 5px;
}

/*!* StudyHeader.css *!*/
/*.navbar-custom {*/
/*    background-color: #f8f9fa;*/
/*}*/

/*.navbar-brand-custom {*/
/*    font-weight: bold;*/
/*    font-size: 1.5em;*/
/*}*/

/*.nav-ms-auto {*/
/*    margin-left: auto;*/
/*}*/
