.container{
    margin-top: 30px;
    width: 100%;
    max-width: 1200px; /* 최대 너비를 설정*/
    padding: 0 20px;
}

.board_body{
    height: 80vh;
    border-radius: 20px;
    overflow-y: auto; /* 세로 스크롤 추가 */
    overflow-x: hidden; /* 가로 스크롤 숨기기 */
    padding-right: 15px; /* 스크롤바 공간 */
}

.board-box{
    border-width: 0;
}
.ql-editor{
    height: 60vh;
    background-color: white;

}
.ql-container{
    position: relative;

}
.button_box{
    display: flex;
    justify-content: flex-end;
}